@using myclasslib
@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="startSimulation">AAA</button>

<div class="row">
  @foreach (var node in nodes)
  {
    @* var timeoutRemaining = DateTime.Now - node._innerServerNode.ElectionTimer; *@
    @* var maxIntervalMilliseconds = 300 * RaftNode.NodeIntervalScalar; *@
    @* var percentageRemaining = (int)(100 * (Math.Abs(timeoutRemaining.TotalMilliseconds))); *@

    @node.NodeId
    @node.State
    @node.ElectionTimer.Interval

    <br>
}
</div>



Welcome to your new app.

@code {
    List<ServerSimulatioNode> nodes = [];
    Timer? timer;

    public void startSimulation()
    {
        var node1 = new ServerNode([]);
        var node2 = new ServerNode([]);
        var node3 = new ServerNode([node1, node2]);

        node1.IdToNode[node2.NodeId] = node2;
        node1.IdToNode[node3.NodeId] = node3;

        node2.IdToNode[node1.NodeId] = node1;
        node2.IdToNode[node3.NodeId] = node3;

        var simulation1 = new ServerSimulatioNode(node1);
        var simulation2 = new ServerSimulatioNode(node2);
        var simulation3 = new ServerSimulatioNode(node3);

        //node1.OtherNodes

        nodes = [simulation1, simulation2, simulation3];

        timer = new Timer(_ =>
        {
        InvokeAsync(StateHasChanged);
        }, null, 0, 200);
    }
}